$blue: #65c8db;
$grayBg: #f7f8fa;

.accordion-button:not(.collapsed){
  background-color: $blue !important;
  color: white !important;
  border-color: transparent !important;
}
.accordion-body{
  background-color: $grayBg;
}
