$blue: #65c8db;
$purple: #a869d1;
$activeblue: #366b75;
$activepurple: #57366d;
$activeTransblue: #a5cfd883;
$activeTranspurple: #b598c975;


.my-btn { 
  width: auto; 
  border-radius: 2em; 
  height: 90%; 
  background-color: transparent;
  border: none;
  margin: auto 20px;
  padding: 0 10px;
}
/* .my-btn ::placeholder{
  width: 20%;
  height: 90%;
} */
.blue-transparent-btn{
  border: 1px solid $blue;
  color: $blue;
  font-size: .8em;
  padding: 10px;
  align-items: center;
}
.blue-transparent-btn:active{
  background-color: $activeTransblue;
  color: white;
}
.white-transparent-btn{
  border: 1px solid white;
  color: white;
  font-size: .8em;
  padding: 10px;
  align-items: center;
}
.white-transparent-btn:active{
  background-color: white;
  color: rgb(0, 0, 0);
}
.blue-solid-btn{
  background-color: $blue;
  color: white;
  font-size: .8em;
  padding: 10px;
  align-items: center;
}
.blue-solid-btn:active{
  background-color: $activeblue;
}
.purple-solid-btn{
  background-color: $purple;
  color: white;
  font-size: .8em;
  padding: 10px;
  align-items: center;
}
.purple-solid-btn:active{
  background-color: $activepurple;
}

.nav-btn{
  padding: 5px 10px !important;
}
.thin{
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .my-btn { 
    width: 50%;
    margin: 10px auto;
  }
  .white-transparent-btn{
    border: 1px solid rgb(158, 158, 158);
    color: rgb(158, 158, 158);
  }
}