$purple: #a869d1;

.form-label{
  font-weight: 600 !important;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {}

input[type=range]::-ms-thumb {}

input[type=range]::-webkit-slider-runnable-track {}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {}

input[type=range]::-ms-track {}

input[type=range]::-ms-fill-lower {}

input[type=range]::-ms-fill-upper {}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input[type='range'] {
  display: block;

}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: $purple;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgba(198,177,210,1) 0%, rgba(229,216,236,1) 100%);
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background: linear-gradient(to right, rgba(198,177,210,1) 0%, rgba(229,216,236,1) 100%);
  height: 3px;
}

input[type=range]::-ms-track {
  background: linear-gradient(to right, rgba(198,177,210,1) 0%, rgba(229,216,236,1) 100%);
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: HotPink
}

input[type=range]::-ms-fill-upper {
  background-color: black;
} 

/* .bubble-container{
  height: 20px;
  position: relative;
}
.bubble{
  position: absolute;
  height: 10px;
  background-color: #a869d1;
  left: 10px;
} */

.bubble-container{
	position: relative;
	background-color: #ffffff;
	height: 40px;
	width: 140px;
	margin: 0;
	padding: 0;
}
.bubble {
	position: absolute;
	width: 80px !important;
	height: 40px;
	text-align: center;
	background-color: #a869d1;
	z-index:1;
	border-radius: 40px;
	font-family: sans-serif;
}
.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.speech:before {
	left: 0px;
	bottom: -22px;
	border-bottom-left-radius: 5px;
	border: 21px solid #a869d1;
	border-color: #a869d1 transparent transparent #a869d1;
}
.text,
.text:before,
.text:after{
	display:flex;
	height: auto;
	width: 140px;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 1;
  color: #ffffff;
}
.custom-value{
  height: 100%;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}